/* Creates better sizing model. https://www.joshwcomeau.com/css/custom-css-reset/  for explanation*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #85dcb8;
  font-family: "Kanit", sans-serif;
  min-height: 100%;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  bottom: 50%;
}

/* Scrollbar customization*/
body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: #41b3a3;
}

body::-webkit-scrollbar-thumb {
  background-color: #e27d60;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #41b3a3;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #d1674a;
}
