*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #85dcb8;
  font-family: "Kanit", sans-serif;
  min-height: 100%;
  position: relative;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  bottom: 50%;
}
